<h2>New song</h2>

<p>Choose a file from your computer</p>
<%= form_for @song, :url => songs_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :song %>
  <p><%= form.submit "Save song" %></p>
<% end %>