/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { font-family: "Trebuchet MS", Helvetica, sans-serif; }

h2 { color: #9a679f; }

table td { padding: 3px; }

#header_nav { background-color: #000; color: #ccc; padding: 10px 30px 10px 30px; margin: 0; }
#header_nav a { color: #fff; }

#content { margin:0 auto; width: 1000px; }

.notice { color: #9a679f; }
.error { color: #d3414a; }